.background-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    z-index: -1;
    overflow: hidden;
}

.background-image {
    width: 100%;
    height: 100%;
    position: relative;
}

.background-thumbnail {
    position: absolute;
    top: -9999px;
    bottom: -9999px;
    left: -9999px;
    right: -9999px;
    margin: auto;

    width: max(114.8vw, 114.8vh);
    height: max(114.8vw, 114.8vh);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    will-change: scale;
}

.background-filter {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(100px) saturate(1);
    background-color: rgba(0, 0, 0, 0.8);
    transition: background-color 1s linear;
    mix-blend-mode: multiply;
}

.background-thumbnail-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.background-custom-image {
    width: 100%;
    height: 100%;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    will-change: scale;
}
