.debug {
    position: absolute;
    top: 0;
    right: 0;
    display: grid;

    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;

    height: 800px;
    width: 600px;

    box-sizing: border-box;
    padding: 20px;

    font-family: sans-serif;
    font-size: 20px;

    gap: 20px;
}

.debug-container {
    box-sizing: border-box;
    padding: 20px;

    background-color: #000;

    border-radius: 10px;
    height: 100%;
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    overflow: hidden;
}

.debug-title {
    height: 20px;
    width: 100%;
    text-align: center;
    color: orange;
}

.debug-content {
    width: 100%;
    flex-grow: 1;
    white-space: nowrap;

    overflow: hidden;
    color: #fff;
}

.debug-properties-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    font-size: 25px;
}

.debug-audio-pulse {
    width: 100%;
    height: 100%;
    background-color: #fff;
    border-radius: 10px;
    opacity: 0;
    will-change: opacity;
}

.debug-thumbnail-container {
    grid-column: 1 / span 2;
}

.debug-thumbnail-content {
    display: flex;
    gap: 5px;
}

.debug-thumbnail-thumbnail {
    flex-grow: 1;
    height: 100%;
    box-sizing: border-box;

    object-fit: cover;
    border-radius: 10px;
}

.debug-thumbnail-color {
    height: 100%;
    flex-grow: 1;
    box-sizing: border-box;

    border-radius: 10px;
}

.debug-timeline-content {
    font-size: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.debug-playback-content {
    font-size: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.debug-user-properties-container {
    grid-column: 1 / span 2;
}
